In [27]:
import requests
import pandas as pd
from pprint import pprint

In [26]:
!pip install pprintpp

Collecting pprintpp
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: pprintpp

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] O sistema não pode encontrar o arquivo especificado: 'C:\\Python312\\Scripts\\pypprint.exe' -> 'C:\\Python312\\Scripts\\pypprint.exe.deleteme'

In [32]:
pular = 0


lista_dfs_moedas = []


while True:

    url_base = f'''https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular}&$format=json'''

    response = requests.get(url_base)

    ##print(response.json())
    pular += 10000
    json_moedas = response.json()



    df_moedas = pd.DataFrame(json_moedas['value'])

    lista_dfs_moedas.append(df_moedas)

    if len(json_moedas['value']) < 1:
        break


base_completa = pd.concat(lista_dfs_moedas)

base_completa

            Data  Quantidade         Valor Denominacao  Especie
0     1994-10-03   692701959  6.927020e+06        0.01   Moedas
1     1994-10-03   462277579  2.311388e+07        0.05   Moedas
2     1994-10-03   404559065  4.045591e+07        0.10   Moedas
3     1994-10-03     1492870  3.732175e+05        0.25   Moedas
4     1994-10-03   278901842  1.394509e+08        0.50   Moedas
...          ...         ...           ...         ...      ...
2834  2024-02-01   661978971  6.619790e+09       10.00  Cédulas
2835  2024-02-01   704338496  1.408677e+10       20.00  Cédulas
2836  2024-02-01  1727761051  8.638805e+10       50.00  Cédulas
2837  2024-02-01  1856130325  1.856130e+11      100.00  Cédulas
2838  2024-02-01   137099707  2.741994e+10      200.00  Cédulas

[92839 rows x 5 columns]

In [34]:
pular = 0


lista_dfs_moedas_comemorativas = []


while True:

    url_base = f'''https://olinda.bcb.gov.br/olinda/servico/mecir_moedas_comemorativas/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular}&$format=json'''

    response_bc = requests.get(url_base)

    ##print(response.json())
    pular += 10000
    json_moedas_comemorativas = response_bc.json()



    df_moedas = pd.DataFrame(json_moedas_comemorativas['value'])

    lista_dfs_moedas_comemorativas.append(df_moedas)

    if len(json_moedas_comemorativas['value']) < 1:
        break


moedas_comemorativas = pd.concat(lista_dfs_moedas_comemorativas)

moedas_comemorativas

,Data,Quantidade,Valor,Categoria,Denominacao
0,1995-05-23,1865,37300.0,Moedas comemorativas Tetra campeonato,20.00
1,2019-09-13,7000,14000.0,Moedas comemorativas 300 anos CMB,2.00
2,2019-09-13,5000,15000.0,Moedas comemorativas 30 anos BC,3.00
3,2019-09-13,9000,36000.0,Moedas comemorativas Tetra campeonato,4.00
4,2019-09-13,2000,40000.0,Moedas comemorativas Tetra campeonato,20.00
...,...,...,...,...,...
773,2023-12-22,13500,13500.0,Cartela Rio 2016 - Judô,1.00
774,2023-12-22,13500,13500.0,Cartela Rio 2016 - Boxe,1.00
775,2023-12-22,13500,13500.0,Cartela Rio 2016 - Natação Paralímpica,1.00
776,2023-12-22,15500,15500.0,Cartela Rio 2016 - Mascote Olímpica,1.00
777,2023-12-22,15500,15500.0,Cartela Rio 2016 - Mascote Paralímpica,1.00